.logo {
  font-weight: 700;
  font-size: 25px;
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 10;
  display: flex;
  justify-content: start;
  align-items: center;
  color: white;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0px 0px 5px rgba(0, 0, 0, 1);
  line-height: 1;
}

.logoImage {
  width: 4rem;
  height: auto;
}
