.slider {
  position: absolute;
  z-index: 10;
  top: 90vh;
  left: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000, 0px 0px 5px rgba(0, 0, 0, 1);
}

.slider input {
  width: 20rem;
  background: #ff0000;
  border: none; /* Remove default border */
  height: 10px; /* Adjust the height of the slider */
  border-radius: 5px; /* Round the corners */
  outline: none; /* Remove focus outline */
  -webkit-appearance: none; /* Remove default styles in WebKit browsers */
}

.slider input::-webkit-slider-runnable-track {
  background: transparent; /* Make track background transparent */
}

.slider input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.slider input::-moz-range-track {
  background: transparent;
}

.slider input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

/* slider.module.css */
.tooltip {
  position: absolute;
  top: -70px; /* Adjust based on your design */
  left: 50%;
  transform: translateX(-100%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
  text-align: center;
  line-height: 1.2;
  z-index: 10; /* Ensure the tooltip is above the slider */
}

/* Create the triangle */
.tooltip::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Position it below the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.7); /* Triangle color matches tooltip */
}
